@media screen and (min-width: 146px) and (max-width: 740px)
{

   nav
   {
       height: 17vh;
       position: fixed;
       margin-top: -1;
       display: flex;
       flex-direction: column;
   }

   .nav-wrapper
    {
        position: absolute;
        top: -1rem;
        left: 0;
        padding-bottom: 20px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        z-index: 1;
    }

  

   .menu
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 1rem;
        background-color:#00000b !important;
        min-height: 102vh;
        width: 100%;
        justify-content: center;
        gap: 50px;
        display: none;
    }

    .menu > li > a
    {
        font-size: 20px;
    }

    ul > li 
    {
        height: auto;
    }

    #hamburger-menu
    {
        position: relative;
    }

    .close-ham, .open-ham
    {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1rem;
        cursor: pointer;
        z-index: 10 !important;
    }

    .footer-links
    {
        flex-direction: column;
        gap: 10px;
    }

    iframe
    {
        margin-top: 4rem;
    }
}








@media screen and (min-width: 768px) and (max-width: 912px)
{
    iframe
    {
        margin-top: .5rem;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1280px)
{
    iframe
    {
        margin-top: -0.5rem;
    }
}