@media screen and (min-width: 146px) and (max-width: 912px)
{
  
    nav
    {
        width: 99vw;
    }

    .nav-wrapper
    {
        width: 100%;
    }

    .mobile-nav-container
    {
        position: absolute;
        left: 0;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.697);
    }

    .col
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .card
    {
        width: 100%;
    }
    .dividing
    {
        height: auto;
        text-align: center;
        width: 90%;
    }

    footer 
    {
        max-width: 100%;
    }
}