*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.tab-items
{
   margin: 0;
   padding: 0;
   display: flex;
   height: 100vh;
   width: 100vw;
}

/* Dashboard Tab */

#dashboard-tab, #homepage-tab, #teams-tab, #about-tab, #events-tab, #games-tab, #home-tab
{
 width: 85%;
 margin-left: auto;
 display: flex;
 justify-content: center;
}

/*------------------------------------------- Teams Tab----------------------------------- */

.teams-content, .events-content, .about-content
{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
}

table
{
   z-index: 0;
}

.teams-form, .teams-table, .events-form, .events-table, .about-table, .about-form
{
   width: 85%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* Form with edit and delete buttons */

.edit-form
{
   display: flex;
}


button 
{
  border: none; 
  background-color: transparent; 
}

a
{
   cursor: pointer;
}