.overwatch-cards
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.cards-position
{
    display: flex;
}
.overwatch-cards .left-cards, .overwatch-cards .right-cards
{
    flex: 1;
    text-align: center;
}